---
clickhouse:
  hosts:
    clickhouse-01:
      ansible_user: centos
      ansible_host: ${ clickhouse_ip }
vector:
  hosts:
    vector-01:
      ansible_user: centos
      ansible_host: ${ vector_ip }
lighthouse:
  hosts:
    lighthouse-01:
      ansible_user: centos
      ansible_host: ${ lighthouse_ip }